@font-face{
    font-family: yekan;
    src: url(../fonts/iranyekanwebbold.ttf);
}

*{
    font-family: yekan;
    direction: rtl;
}

body{
    font-size: 16px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}